$base-color: #007bff !default;
$transparent-base-color: rgba(0, 123, 255, 0.9) !default;
$bg-color: #f4f3ef !default;
$transparent-background: rgba(244, 243, 239, 0.9) !default;
$color: #333 !default;
$sidebar-color: #4d5bf9;
$transparent-sidebar-color: rgba(77, 91, 249, 0.9);

// $base-color: #007bff !default;
// $bg-color: #EE5340 !default;
// $transparent-background: rgba($bg-color, 0) !default;
// $color: #000 !default;
